{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.new_password_title'| trans }}{% endblock %}
{% block body %}

    {% if form_errors(form.email) %}
        <div class="alert alert-danger message-errors" role="alert">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
    {%  if resetPasswordStatus == false %}
        {{ form_start(form) }}
        {{ form_widget(form.email) }}
        <label for="inputEmail">{{ form_label(form.email) }}</label>
        <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit"><i class="fas fa-envelope"></i> {{ 'buttons.send_to_mail'| trans }}</button>
        {{ form_end(form) }}
    {% else %}
        <p class="text-center">{{ resetPasswordStatus | trans }}</p>
    {% endif %}
{% endblock %}