{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.new_password_title'| trans }}{% endblock %}

{% block body %}
    <div class="container signform">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ 'auth.new_password_title'| trans }}</h5>
                        {% if form_errors(form.password) %}
                            <div class="alert alert-danger message-errors" role="alert">
                                {{ form_errors(form.password) }}
                            </div>
                        {% endif %}
                        <div class="form-signin">
                            {%  if displayForm == false %}
                                {{ form_start(form) }}
                                <div class="form-label-group">
                                    {{ form_widget(form.password.first) }}
                                    <label for="inputEmail">{{ form_label(form.password.first) }}</label>
                                </div>
                                <div class="form-label-group">
                                    {{ form_widget(form.password.second) }}
                                    <label for="inputEmail">{{ form_label(form.password.second) }}</label>
                                </div>
                                <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit"><i class="fas fa-key"></i> {{ 'buttons.new_password'| trans }}</button>
                                {{ form_end(form) }}
                            {% else %}
                                <p class="text-center">{{ displayForm | trans }}</p>
                            {% endif %}
                            <hr class="my-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}